/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}
body {
	line-height: 1;
}
ol,
ul {
	list-style: none;
}
blockquote,
q {
	quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* media queries - Mobile */

/* @media only screen and (min-width: 320px) {
	body {
		background-color: steelblue;
	}
}

@media only screen and (min-width: 768px) {
	body {
		background-color: gold;
	}
} */

@media only screen and (min-width: 1024px) {
	/* HEADER AND NAVIGATION */
	header.desktop-nav {
		height: 5.3125rem;
		width: 100%;
		position: fixed;
		z-index: 1;
		border-bottom: 1px solid #c6c1c1;
		background-color: white;
		color: #4a4a4a;
		font-family: Roboto, monospace, sans-serif;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.desktop-nav h3 {
		margin-left: 1.875rem;
		font-size: 1.5rem;
	}

	.desktop-nav-container {
		display: flex;
		align-items: center;
		margin-right: 1.875rem;
	}

	.desktop-nav-container li {
		margin-left: 3.75rem;
		list-style: none;
	}

	.desktop-nav-container li a {
		text-decoration: none;
		line-height: 1.6;
		font-size: 1.2rem;
		color: #4a4a4a;
	}

	.icon {
		width: 1.35rem;
		margin-left: 0.75rem;
		position: relative;
		top: 0.125rem;
	}

	/* DESKTOP LANDING AND CONTENT SECTION */

	.dt-flex-container {
		display: flex;
		flex-direction: column;
	}
	.dt-landing {
		background-image: url('../images/banner-landingpage.jpg');
		background-repeat: no-repeat;
		background-position: top;
		background-size: cover;
	}

	.dt-lp-card-flx-cont {
		width: 40%;
		background-color: #9dc20a;
		border: 1px solid #979797;
		border-radius: 4px;
		margin: 10.625rem 6.25rem;
		color: white;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;
		text-align: center;
	}

	.lp-heading {
		padding-top: 2rem;
		margin-bottom: 12px;
	}

	.lp-heading h2 {
		font-size: 2.5rem;
		font-family: 'Dancing Script', cursive;
		font-style: italic;
	}

	.lp-heading h1 {
		font-size: 3.125rem;
		font-family: 'Rubik', sans-serif;
		font-weight: normal;
		line-height: 1.4;
		letter-spacing: 0.15625rem;
	}

	.lp-email {
		font-size: 20px;
		line-height: 1.4;
		font-family: Roboto, monospace, sans-serif;
		margin-bottom: 26px;
		width: 72%;
	}

	.dt-waitlist-btn {
		width: 408px;
		height: 64px;
		margin-bottom: 56px;
		background-color: #4a4a4a;
		border: solid #4a4a4a;
		border-radius: 4px;
		color: white;
		font-size: 20px;
		font-family: Roboto, monospace, sans-serif;
		font-weight: 700;
		line-height: 1.4;
	}
	.dt-features {
		background-color: lightgray;
		display: flex;
		justify-content: center;
		padding: 64px 64px 46px 64px;
	}

	.feature-style-1 {
		margin-right: 19px;
	}

	.feature-style-2 {
		margin-left: 19px;
	}
	.feature-style-1,
	.feature-style-2 {
		height: 635px;
		width: 48%;
		background-color: whitesmoke;
	}

	.feature-style-1 h2,
	.feature-style-2 h2 {
		color: #4a4a4a;
		font-size: 2.25rem;
		font-family: Roboto, monospace, sans-serif;
		font-weight: bold;
		line-height: 1.2;
		margin-top: 40px;
	}

	.feature-style-1 p,
	.feature-style-2 p {
		color: #4a4a4a;
		font-size: 1rem;
		font-family: Roboto, monospace, sans-serif;
		font-weight: lighter;
		line-height: 1.2;
		width: 80%;
		position: relative;
		left: 10%;
		margin-top: 2%;
	}

	.feature-prod {
		width: 90%;
		height: 65%;
		padding: 32px 32px 0px 32px;
		margin-bottom: 187px;
		text-align: center;
	}

	.feature-prod img {
		width: 100%;
	}

	.dt-filters {
		background-color: #4a4a4a;
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
	}

	.dt-filters h2,
	.dt-filters p {
		color: white;
	}

	.dt-filters h2 {
		font-size: 36px;
		font-family: Roboto, monospace, sans-serif;
		font-weight: bold;
		margin-top: 64px;
	}

	.dt-filters p {
		font-size: 20px;
		font-weight: lighter;
		line-height: 1.4;
		margin-top: 1%;
		width: 45%;
		padding-bottom: 80px;
	}

	#filter-img {
		width: 100%;
		display: inline-flex;
		margin-bottom: 64px;
	}

	.img-sizing {
		width: 25%;
	}

	.dt-testimonial {
		background-color: lightgrey;
	}

	.testimonial-cont {
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 80px 0;
	}

	cite {
		font-size: 30px;
		font-family: Palatino, serif;
		font-weight: lighter;
		font-style: italic;
		margin-right: 30px;
	}

	.dt-footer {
		height: 62px;
		background-color: #9b9b9b;
		color: white;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 0 32px;
		font-size: 1rem;
	}
}
