/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}
body {
	line-height: 1;
}
ol,
ul {
	list-style: none;
}
blockquote,
q {
	quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* media queries - Mobile */

@media only screen and (min-width: 320px) {
	body {
		background-color: pink;
	}

	/* Remove Desktop header and nav */
	header.container {
		display: none;
	}

	/* mobile header and nav */

	header {
		height: 3rem;
		width: 100%;
		position: fixed;
		z-index: 1;
		border-bottom: 1px solid #c6c1c1;
		background-color: white;
		color: #4a4a4a;
		font-family: Roboto, monospace, sans-serif;
	}

	header .mobile-icons {
		width: 1.35rem;
	}

	.mobile-nav-container {
		display: flex;
		justify-content: space-around;
		width: 100%;
		position: relative;
		top: 12px;
	}

	.mobile-nav-container li {
		align-self: center;
		margin-right: 20px;
	}

	#mobile-btn-display {
		background-color: #9dc20b;
		border: solid #9dc20b;
		color: white;
		border-radius: 4px;
	}
}

/* @media only screen and (min-width: 768px) {
	body {
		background-color: gold;
	} */

/* .nav-container li {
		margin-left: 1.875rem;
		list-style: none;
	}

	.nav-container li a {
		font-size: 1.1rem;
	}

	header .icon {
		width: 1.35rem;
		margin-left: 0.4rem;
		position: relative;
		top: 0.3125rem;
	}

	#btn-display {
		display: block;
		background-color: limegreen;
		padding: 0.3125rem;
		width: 5.3125rem;
		font-size: 1.2rem;
		border: solid limegreen;
		border-radius: 0.3125rem;
		color: white;
		margin-left: 1.25rem;
		position: relative;
		bottom: 0.125rem;
		left: 0.625rem;
	} */
/* } */

/* @media only screen and (min-width: 1024px) {
	body {
		background-color: purple;
	}

	header {
		height: 5.375rem;
		width: 100%;
		position: fixed;
		z-index: 1;
		border-bottom: 1px solid #c6c1c1;
		background-color: white;
		color: #4a4a4a;
		font-family: Roboto, monospace, sans-serif;
	}

	.container {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.container h3 {
		margin-left: 1.875rem;
		font-size: 1.5rem;
	}

	.nav-container {
		display: flex;
		align-items: center;
		margin-right: 1.875rem;
	}

	.nav-container li {
		margin-left: 3.75rem;
		list-style: none;
	}

	.nav-container li a {
		text-decoration: none;
		line-height: 1.6;
		font-size: 1.2rem;
		color: #4a4a4a;
	}

	header .icon {
		width: 1.35rem;
		margin-left: 0.75rem;
		position: relative;
		top: 0.125rem;
	}

	/* Remove button and mobile display */
/* #btn-display {
		display: none;
	}

	.mobile-container {
		display: none;
	}

} */
